<!-- app/views/shelters/show.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>PetPals - <%= @shelter.name %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <header>
    <h1><%= @shelter.name %></h1>
  </header>

  <section id="shelter-details">
    <h2><%= @shelter.name %></h2>
    <p><strong>Location:</strong> <%= @shelter.location %></p>
    <p><strong>Contact Info:</strong> <%= @shelter.contact_info %></p>
    <p><strong>Website:</strong> <%= link_to @shelter.website_url, @shelter.website_url, target: "_blank" %></p>
  </section>
</body>
</html>
