<!-- app/views/dogs/index.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>PetPals</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <header>
    <h1>Dogs Available for Adoption</h1>
    <nav>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Dogs', dogs_path %></li>
        <li><%= link_to 'Shelters', shelters_path %></li>
        <li><%= link_to 'Users', users_path %></li>
      </ul>
    </nav>
  </header>

  <section id="dogs">
    <h2>Our Dogs</h2>
    <ul>
      <% @dogs.each do |dog| %>
        <li>
          <img src="<%= dog.photo_url %>" alt="<%= dog.name %>">
          <h3><%= dog.name %></h3>
          <p>Breed: <%= dog.breed %></p>
          <p>Age: <%= dog.age %> years old</p>
          <p>Description: <%= dog.description %></p>
          <p><%= link_to 'More Info', dog_path(dog) %></p>
        </li>
      <% end %>
    </ul>
  </section>

  <footer>
    <p>&copy; 2024 PetPals. All rights reserved.</p>
  </footer>
</body>
</html>
