<!-- app/views/home/index.html.erb -->
<div class="container">
  <% if @dogs.empty? %>
    <div class="alert alert-info">
      <p>No dogs available for adoption at the moment. Please check back later!</p>
    </div>
  <% else %>
    <section id="dogs">
      <h2 class="my-4">Our Dogs</h2>
      <div class="row">
        <% @dogs.each do |dog| %>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="<%= dog.photo_url %>" alt="<%= dog.name %>" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title"><%= dog.name %></h5>
                <p class="card-text">Breed: <%= dog.breed %></p>
                <p class="card-text">Age: <%= dog.age %> years old</p>
                <p class="card-text">Description: <%= dog.description %></p>
                <%= link_to 'More Info', dog_path(dog), class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= paginate @dogs, class: 'pagination justify-content-center my-4' %>
    </section>
  <% end %>
</div>
