<!DOCTYPE html>
<html>
<head>
  <title>PetPals</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <h1>Dogs Available for Adoption</h1>

  <%= form_with(url: dogs_path, method: "get") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search dogs..." %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <section id="dogs">
    <h2>Filter by Shelter</h2>
    <%= form_tag(dogs_path, method: "get") do %>
      <%= select_tag :shelter_id, options_from_collection_for_select(@shelters, :id, :name, params[:shelter_id]), include_blank: true %>
      <%= submit_tag "Filter", class: "btn btn-primary" %>
    <% end %>

    <h2>Dogs List</h2>
    <ul>
      <% @dogs.each do |dog| %>
        <li>
          <img src="<%= dog.photo_url %>" alt="<%= dog.name %>">
          <h3><%= dog.name %></h3>
          <p>Breed: <%= dog.breed %></p>
          <p>Age: <%= dog.age %> years old</p>
          <p>Description: <%= dog.description %></p>
          <p><%= link_to 'More Info', dog_path(dog) %></p>
        </li>
      <% end %>
    </ul>

    <%= paginate @dogs %>
  </section>

</body>
</html>
