<!DOCTYPE html>
<html>
<head>
  <title>DogPals - <%= @dog.name %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <section id="dog-details">
    <h1><%= @dog.name %></h1>
    <img src="<%= @dog.photo_url %>" alt="<%= @dog.name %>">
    <p><strong>Breed:</strong> <%= @dog.breed %></p>
    <p><strong>Age:</strong> <%= @dog.age %> years old</p>
    <p><strong>Description:</strong> <%= @dog.description %></p>
    <p><strong>Shelter:</strong> <%= link_to @dog.shelter.name, shelter_path(@dog.shelter) %></p>
    <p><strong>Contact Info:</strong> <%= @dog.shelter.contact_info %></p>

    <% if user_signed_in? %>
      <% if current_user.favorite_dogs.include?(@dog) %>
        <%= button_to 'Remove from Favorites', dog_favorite_path(@dog, current_user.favorites.find_by(dog_id: @dog.id)), method: :delete %>
      <% else %>
        <%= button_to 'Add to Favorites', dog_favorite_path(@dog), method: :post %>
      <% end %>
    <% end %>
  </section>
</body>
</html>


