<!DOCTYPE html>
<html>
<head>
  <title>DogPals</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_importmap_tags %>
  
</head>
<body>
  <div>
 <h1>Find your new best friend <h1>
 <h2>Browse pets from our network of over 14,500 shelters and rescues.</h2>
 </div>
  <section id="featured-dogs">
    <h2>Featured Dogs</h2>
    <ul>
      <% @dogs.each do |dog| %>
        <li>
          <img src="<%= dog.photo_url %>" alt="<%= dog.name %>">
          <h3><%= dog.name %></h3>
          <p>Breed: <%= dog.breed %></p>
          <p>Age: <%= dog.age %> years old</p>
          <p><%= link_to 'More Info', dog_path(dog) %></p>
        </li>
      <% end %>
    </ul>
  </section>

  <section id="shelters">
    <h2>Our Shelters</h2>
    <ul>
      <% @shelters.each do |shelter| %>
        <li>
          <h3><%= shelter.name %></h3>
          <p>Location: <%= shelter.location %></p>
          <p>Contact Info: <%= shelter.contact_info %></p>
          <p><%= link_to 'Visit Website', shelter.website_url, target: "_blank" %></p>
        </li>
      <% end %>
    </ul>
  </section>

  <section id="users">
    <h2>Our Users</h2>
    <ul>
    <% @users.each do |user| %>
      <li>
        <img src="<%= user.profile_photo %>" alt="<%= user.email %>">
        <h3><%= user.new_username %></h3>
        <p>Email: <%= user.email %></p>
        <p><%= link_to 'View Profile', user_path(user) %></p>
      </li>
    <% end %>
    </ul>
  </section>

  <footer>
    <p>&copy; 2024 DogPals. All rights reserved.</p>
  </footer>
</body>
</html>
