<h1>Welcome to PetPals</h1>
<ul>
  <li><a href="<%= users_path %>">Users</a></li>
  <li><a href="<%= pets_path %>">Pets</a></li>
  <li><a href="<%= shelters_path %>">Shelters</a></li>
  <li><a href="<%= applications_path %>">Applications</a></li>
  <li><a href="<%= favorites_path %>">Favorites</a></li>
</ul>
