<!DOCTYPE html>
<html>
<head>
  <title>Application Details</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.5.1.slim.min.js' %>
  <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js' %>
  <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <div class="container mt-5">
    <h2 class="mb-4">Application Details</h2>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Application by <%= @application.user.new_username %></h5>
        <p class="card-text"><strong>Dog Name:</strong> <%= @application.dog.name %></p>
        <p class="card-text"><strong>Dog Breed:</strong> <%= @application.dog.breed %></p>
        <p class="card-text"><strong>Dog Age:</strong> <%= @application.dog.age %> years old</p>
        <p class="card-text"><strong>Application Status:</strong> <%= @application.status %></p>
        <p class="card-text"><strong>Submitted At:</strong> <%= @application.submitted_at %></p>
        <p class="card-text"><strong>User Bio:</strong> <%= @application.user.bio %></p>
        <p class="card-text"><strong>Contact Email:</strong> <%= @application.user.email %></p>
        <%= link_to 'Back to Applications', applications_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</body>
</html>
